.DS_Store
build/
code/infra/build
docs/build
docs/doctrees
**.terraform/
**.terraform.*/
**tfplan
**/terraform.tfvars
**/terraform.d/
*.encrypted_password
*.p8
*.pub
*.pyc
**.venv
**/.mypy_cache
**/*.envs
