.DS_Store
.mypy_cache
build/
node_modules/
.idea/

docs/doctrees
src/webui/frontend/src/**/*.css
src/webui/frontend/src/**/*.js
src/**/lib/
src/pip-wheel-metadata/*

*.pyc
*.venv
venv
*.db
*.egg-info
.vscode
*.pydevproject
