@import "../../constants/constants.styl"

.main
  width: 368px
  margin: 0 auto

  .register

    :global
      .ant-form-item
        margin-bottom: 20px

    .prefix-icon {
      font-size: $font-size-base;
      color: $disabled-color;
    }

    .form-button
      width: 100%
