# https://circleci.com/docs/2.0/language-python/

version: 2
jobs:
  build:
    docker:
      - image: snowsec/snowalert-builder

    working_directory: ~/project

    steps:
      - checkout

      - restore_cache:
          keys:
          - app-venv-{{ checksum "src/setup.py" }}
          - app-venv-  # fallback to using the latest cache if no exact match is found

      - run:
          name: install_snowalert_dependencies
          command: |
            cd src
            python -m venv .venv
            source .venv/bin/activate
            pip install src/

      - save_cache:
          paths:
            - ./.venv
          key: app-venv-{{ checksum "src/setup.py" }}

      - run:
          name: run tests
          command: |
            source ./.venv/bin/activate
            pyflakes ./src/runners

      # - run:
      #     name: do the build
      #     command: |
      #       docker build -t snowsec/snowalert .

      # - store_artifacts:
      #     path: code/infra/build
      #     destination: lambda-builds

  build-docs:
    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/project

    steps:
      - checkout

      - restore_cache:
          keys:
          - docs-venv-{{ checksum "docs/requirements.txt" }}
          - docs-venv-

      - run:
          name: Install or Update Docs Dependencies
          command: |
            cd docs
            python -m venv .venv
            source .venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./docs/.venv
          key: docs-venv-{{ checksum "docs/requirements.txt" }}

      - run:
          name: Run Tests (pyflakes conf.py)
          command: |
            cd docs
            source .venv/bin/activate
            pyflakes src/conf.py

      - run:
          name: do the build
          command: |
            cd docs
            source .venv/bin/activate
            sphinx-build src build -d doctrees

      - store_artifacts:
          path: docs/build
          destination: docs-pages

workflows:
  version: 2
  docs_and_lambdas:
    jobs:
      - build
      - build-docs
