@import "../../constants/constants.styl"

.header-info
  position: relative
  text-align: center
  & > span
    color: $text-color-secondary
    display: inline-block
    font-size: $font-size-base
    line-height: 22px
    margin-bottom: 4px

  & > p
    color: $heading-color
    font-size: 24px
    line-height: 32px
    margin: 0

  & > em
    background-color: $border-color-split
    position: absolute
    height: 56px
    width: 1px
    top: 0
    right: 0
