@import "../../constants/constants.styl"

.ant-btn
  margin-right: 10px

pre
  white-space: pre-wrap;

.custom-hover
  transition all 0.8s ease
  transition all 0.8s ease
  &:hover
    box-shadow 0 0 5px #51cbee
    box-shadow 0 0 5px #51cbee