@import "../../constants/constants.styl"

.ant-layout-sider-collapsed
  .menu-logo
    a
      padding-left: 19px

.menu-logo
  height: 64px
  position: relative
  line-height: 64px
  padding-left: (($menu-collapsed-width - 80px) / 2)
  transition: all .3s
  background: #002140
  overflow: hidden
  display: flex
  user-select: none

  a
    width: 100%
    align-items: center
    justify-content: center
    padding-left: 10px
    transition: 0.2s

  img
    display: inline-block
    vertical-align: middle
    width: 40px

  h1
    color: #fff
    display: inline-block
    vertical-align: middle
    font-size: 20px
    margin: 0 0 0 10px
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif
    font-weight: 600

.sider
  min-height: 100vh
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35)
  position: relative
  z-index: 10

.icon
  width: 14px
  margin-right: 10px

:global
  .drawer .drawer-content
    background: #001529
