$primary-color = #1890ff
$success-color = #52c41a
$error-color = #f5222d

$primary-1 = #e6f7ff
$primary-2 = #bae7ff
$primary-3 = #91d5ff
$primary-4 = #69c0ff
$primary-5 = #40a9ff
$primary-6 = $primary-color
$primary-7 = #096dd9
$primary-8 = #0050b3
$primary-9 = #003a8c
$primary-10 = #002766

$heading-color = rgba(#000, 85%)
$text-color = rgba(#000, 65%)
$text-color-secondary = rgba(#000, 45%)
$font-size-base = 14px
$font-size-lg = $font-size-base + 2px
$font-size-sm = 12px
$line-height-base = 1.5
$border-radius-base = 4px
$border-radius-sm = 2px

$border-color-base = hsl(0, 0, 85%)
$border-color-split = hsl(0, 0, 91%)

$background-color-base = hsl(0, 0, 96%)

$disabled-color = rgba(#000, 25%)

$screen-xs = 480px
$screen-sm = 576px
$screen-md = 768px
$screen-lg = 992px
$screen-xl = 1200px

$menu-collapsed-width = 80px
